In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

### 1. DataLoading and Data Preprocessing

In [26]:
'''
ratings는 사용자별로 영화에 대한 평점을 매긴 데이터셋
평점은 최소 0.5~최대 5사이... 0.5단위로
'''
ratings = pd.read_csv('../data/ratings_1.csv', encoding='utf-8')
ratings.head()
# ratings.shape
# ratings['rating'].unique()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [22]:
movies = pd.read_csv('../data/movies.csv', encoding='utf-8')
movies.head()
# movies.shape

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
# 필요한 컬럼만으로 다시 DataFrame 생성
ratings=ratings.iloc[:,:-1]

In [28]:
# 사용자로 row, 영화정보를 컬럼으로 구성한 피벗 
ratings_matrix = pd.pivot_table(ratings, index='userId', columns='movieId', values='rating')
ratings_matrix

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
'''
영화 title이 Id 대신 필요하다
title은 movies에 있다
merge 필요
'''
# 1. merge 후 pivot 화
rating_movies = pd.merge(ratings, movies, on='movieId')
ratings_matrix = pd.pivot_table(rating_movies, index='userId', columns='title', values='rating')

# 1-2. 결측치 0으로 처리
ratings_matrix=ratings_matrix.fillna(0)
ratings_matrix.head()
'''
NaN처리를 연구자의 몫
강사님은
1) NaN이 많으면 0
2) 적으면 mask
'''

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 영화와 영화들 간 유사도 산출 - Cosine Similarity
    사용자와 변환된 영화 평점 데이터 행렬 데이터셋을 이용해서 영화 간 유사도를 측정해보자
    코사인 유사도는 기준이 되는 다른 행을 비교해서 유사도를 특정하는 함수읻
    지금과 같은 행렬구조는 userId가 기준인 행 레벨 데이터이기 때문에 사용자 간 유사도가 만들어진다
    이것을 사용자가 아닌 영화 간 유사도를 만들려면 어떻게 해야 할까?
    
    참고로 코사인 유사도 라이브러리는 sklearn.metrics의 cosine_similarity()

In [40]:
from sklearn.metrics.pairwise import cosine_similarity

In [47]:
cosine_similarity?